.app {
  margin: 1rem;
}

.radio {
  display: block;
  cursor: pointer;
}

.radio:focus {
  outline: none;
}

.radio .radio-box {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  outline: 1px solid black;
  border: 1px solid white;
  margin-right: 0.4rem;
  margin-left: -0.4rem;
}

.radio.checked .radio-box {
  background: black;
}

.radio input:focus + .radio-box {
  background: #48e;
  outline-color: #48e;
}

.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}
